@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    animation: transitionIn 0.75s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacitity: 1;
        transform: rotateX(0);
    }
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

section{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(82, 108, 163);
    background: linear-gradient(rgba(82, 108, 163), rgba(214, 214, 214, 0.7));
    background-size: cover;
    background-position: center;
}

section img{
    width: auto;
    height: 220px;
    float: left;
    margin: 50px 40px 0 50px;
}

.name{
    font-size: 25px;
    padding: 70px 0 40px;
    line-height: 40px;
    color:rgb(122, 3, 3);
}

.weight{
    font-size: 30px;
    font-weight: 500;  
}

.weight a{
    color:rgb(122, 3, 3);
    text-decoration: underline;
}

.bday{
    color: rgb(21, 65, 160);
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
}

p{
    text-align: left;
    margin: 0 50px 20px;
    padding: 10px 0 20px 20px;
    border: solid;
    border-radius: 15px;
    border: 3px solid rgb(34, 34, 124);
    font-weight: 500;
}

.the{
    padding-left: 310px; 
}

.interest{
    position: relative;
    right: 2px;
    float: left;
    color: rgb(190, 2, 2);
    padding: 18px 60px;   
}

.inter{
    padding-bottom: 25px;
}

.video button{
    position: relative;
    top: 78px;
    right: 235px;
    font-size: 18px;
    padding: 4px 57px;
    background-color:rgb(150, 167, 206);
    border: 3px solid rgb(34, 34, 124);
    border-radius: 7px;
    margin: 5px 0 5px 50px;
    font-weight: bold;
    cursor: pointer;
}

.games button{
    position: relative;
    top: 78px;
    right: 235px;
    font-size: 18px;
    padding: 4px 57px;
    background-color:rgb(150, 167, 206);
    border: 3px solid rgb(34, 34, 124);
    border-radius: 7px;
    margin: 5px 0 5px 50px;
    font-weight: bold;
    cursor: pointer;   
}

.hob button{
    position: relative;
    top: 78px;
    right: -30px;
    font-size: 18px;
    padding: 4px 67px;
    background-color:rgb(150, 167, 206);
    border: 3px solid rgb(34, 34, 124);
    border-radius: 7px;
    margin: 5px 0 5px 50px;
    font-weight: bold;
    cursor: pointer;
}

.music{
    position: relative;
    bottom: 155px;
    left: 600px;
    color: rgb(190, 2, 2);
    padding: 18px 250px;
}

.mus{
    padding-bottom: 25px;
}

.video2 button{
    position: relative;
    bottom: 170px;
    left: 850px;
    font-size: 18px;
    padding: 4px 20px;
    background-color:rgb(150, 167, 206);
    border: 3px solid rgb(34, 34, 124);
    border-radius: 7px;
    margin: 5px 0 5px 20px;
    font-weight: bold;
    cursor: pointer;
}

.games2 button{
    position: relative;
    bottom: 170px;
    left: 850px;
    font-size: 18px;
    padding: 4px 86px;
    background-color:rgb(150, 167, 206);
    border: 3px solid rgb(34, 34, 124);
    border-radius: 7px;
    margin: 5px 0 5px 20px;
    font-weight: bold;
    cursor: pointer;
}

.hob2 button{
    position: relative;
    bottom: 170px;
    left: 850px;
    font-size: 18px;
    padding: 4px 50px;
    background-color:rgb(150, 167, 206);
    border: 3px solid rgb(34, 34, 124);
    border-radius: 7px;
    margin: 5px 0 5px 20px;
    font-weight: bold;
    cursor: pointer;
}